body {
  margin: 0px;
}

h1,
p {
  font-family: Lato;
}

* {
  font-family: 'Special Elite', cursive;
}

#header-text {
  font-size: 20vh;
  text-align: center;
  margin-top: 5vh;
}

.grid-el {
  width: 40vw;
  height: 50vh;
  margin: 2vw;
  border-radius: 20px;
  padding: 2vh;
  flex: 0.5;
}

.grid {
  display: flex;
  justify-content: center;
}
